$_white: #FFFFFF;
$_lightGreen: #98D4D4;
$_red: #E01E1E;
$_black: #000000;
$_lightYellow: #DCDC5B;
$_emperor: #555555;
$_hippieGreen: #508A4B;
$_alto: #DDDDDD;
$_swissCoffee: #E0D9D9;
$_morningGlory: #9FDAE0;
$_coral: #FF7F50;
$_pohutukawa: #880511;
$_bostonBlue: #3286C1;
$_teal: #008B8B;
$_sushi: #A7B537;
$_flamePea: #DA6E2F;
$_chambray: #364488;
$_eminence: #712684;
$_seaGreen: #33984E;
$_royalBlue: #1E4AEA;
$_brown: #8B4000;
$_siren: #8B0040;
$_lucky: #A59A19;
$_venetianRed: #670412;
$_pizza: #B98614;
$_amaranth: #EF316E;
$_apple: #4DB13B;
$_gallery: #EEEEEE;
